.QuestsAnimation {
    animation: scaleIn .4s ease-in;
}

.Quests {
    display: flex;
    flex-direction: column;
}





@keyframes scaleIn {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}
