.LaneRibbon {
    position: absolute;
    top: 0;
    clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 100% 100%);
    right: 0;
    height: 6rem;
    width: 6rem;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.LaneText {
    transform: rotate(45deg);
    display: inline-block;
    padding-bottom: 2rem;
    color: white;
}