
/*
These styles are applied when quest is being deleted
*/

.fade-slide-enter {
    opacity: 1;
}

.fade-slide-enter-active {
    opacity: 1;
}

.fade-slide-exit {
    opacity: 1;
}

.fade-slide-exit-active {
    animation: deleteQuest 2s ease-out;
}

@keyframes deleteQuest {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    20% {
        opacity: 1;
        background-color: var(--color-green);
        transform: translateX(0);
    }

    60% {
        opacity: 1;
        background-color: var(--color-green);
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(10rem);
    }
}

