.HeaderPrimary {
    text-align: center; 
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-blue));
    background-clip: text;
    color: transparent;
    
}

.Animated {
    animation: fadeInRotate .5s ease-in-out;
}

@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: rotateZ(5deg) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: rotateX(0) scale(1);
    }
}